body {
  font-size: 16px;
  /* background: black; */
  /* color: white; */
  font-family: monospace;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;
}

.takkar {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.takkar h1 {
  text-align: center;
  margin: .125em 0;
}

#inputLitur {
  width: auto;
}

#holder {
  margin: 0 auto;
}

input:not(.check), input:not(.check):focus {
  width: 100%;
  border: none;
  outline: none !important;
  min-width: 0;
  font-family: monospace;
  font-weight: bold;
  /* word-wrap: break-word; */
}

.card {
  /* display: flex;
  flex-direction: column; */
  width: 400px;
  border: 5px solid white;
  margin: 1em;
  border-radius: 10px;
  padding: 1em;
}

.titill,
.tag,
.flokkur {
  font-weight: bold;
}

.efst {
  display: flex;
}

.titill {
  margin-top: 0;
  font-size: 1.25em;
}

.check {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  margin: 0;
  height: 2em;
  width: 2em;
  border: 2px solid black;
  /* background: blue; */
  border-radius: 7px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.check::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  transform: scale(0);
  transition: 0.1s;
  border-radius: 50px;
  box-shadow: inset 1em 1em black;
  /* background-color: red; */
  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.check:checked::before {
  transform: scale(1);
}


.lysing ,.lysing:focus, .titill, .titill:focus {
  /* font-size: 0.75em; */
  width: 100%;
  border: none;
  resize: none;
  outline: none;
}

.titill {
  height: 2.3em;
}

.lysing {
  height: 6em;
}

.addTag {
  display: inline-block;
  font-size: 0.75em;
  border: 2px solid black;
  border-radius: 7px;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  padding: 0.25em 0.5em;
  margin-bottom: 0.25em;
  /* align-self: flex-start; */
}

.tags {
	list-style: none;
	/* order: 3; */
	display: flex;
	/* justify-content: space-around; */
  padding-inline-start: 0;
  flex-wrap: wrap;
  margin: 0;
	/* width: 30%; */
}

.tags li {
  background: lightgray;
  padding: 0.25em;
  border: 2px solid black;
  border-radius: 7px;
  font-size: 0.75rem;
	display: inline-block;
  margin-right: .25em;
  margin-bottom: .25em;
  width: fit-content;
}

.tags input {
  width: 100%;
  background: lightgray;
  padding: 0;
  padding-right: 0.175em;
}

.nedst {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: flex-center;
  align-items: center;
}

.fogd {
  display: flex;
  justify-content: space-between;
}
