body {
	font-family: monospace;
	font-size: 16px;
}

header h1 {
	text-align: center;
}

main {
	display: grid;
	grid-template-columns: 1fr 5fr;
	justify-content: center;
}

p {
	margin: 0;
}

button,
.category,
.sorter {
	background: #d3d3d3;
	border: 2px solid #000;
	border-radius: 7px;
	cursor: pointer;
	font-family: monospace;
	font-weight: bold;
	transition: 0.075s;
}

button:hover,
button:focus-visible {
	background: rgb(82, 82, 94);
	color: #fff;
}

.takkar {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.takkar h1 {
	margin: 0.125em;
	text-align: center;
}

.container-container {
	display: grid;
	grid-template-columns: 6fr 1fr;
}

.filter-container {
	justify-items: center;
}

.container {
	margin: 0 auto;
	width: 90%;
}

.tags input {
	background: #d3d3d3;
	padding: 0;
	padding-right: 0.175em;
	width: 100%;
}

input:not(.check),
input:not(.check):focus {
	border-style: none;
	font-family: monospace;
	font-weight: bold;
	min-width: 0;
	outline: none !important;
	width: 100%;
}

.title,
.tag,
.flokkur,
.open-title {
	font-weight: bold;
}

.open-title {
	word-break: break-word;
}

.efst {
	display: grid;
	grid-column: span 2;
	grid-template-columns: 2fr 1fr;
}

.efst-title {
	display: flex;
	justify-content: flex-start;
}

.efst-checks {
	align-items: center;
	display: flex;
	gap: 1.5em;
	justify-content: flex-end;
}

.title,
.open-title {
	display: flex;
	font-size: 1.25em;
	margin: 0;
}

.check {
	appearance: none;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 7px;
	cursor: pointer;
	display: grid;
	height: 2em;
	margin: 0;
	place-content: center;
	width: 2em;
}

.done::before {
	border-radius: 50px;
	box-shadow: inset 1em 1em #000;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	content: '';
	height: 1.5em;
	transform: scale(0);
	transform-origin: center;
	transition: 0.1s;
	width: 1.5em;
}

.done:checked::before {
	transform: scale(1);
}

.important::before {
	border-radius: 50px;
	box-shadow: inset 1em 1em #000;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	content: '';
	height: 1.5em;
	transform: scale(0);
	transform-origin: center;
	transition: 0.1s;
	width: 1.5em;
}

.important:checked::before {
	transform: scale(1);
}

.title {
	height: 2.3em;
}

.description {
	height: 100%;
}

.description,
.description:focus,
.title,
.title:focus {
	border-style: none;
	outline: none;
	padding: 0;
	resize: none;
	width: 100%;
}

.nedri-description {
	grid-row: span 4;
}

.nedri-date {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.nedri-date p {
	margin-bottom: 0.5em;
	text-align: end;
}

.date {
	background: #d3d3d3;
	border: 2px solid #000 !important;
	border-radius: 7px;
	text-align: center;
	width: auto !important;
}

.nedri-tags {
	align-items: center;
	display: grid;
	grid-column: 2;
	grid-template-columns: 1fr;
	margin-bottom: 0.5em;
}

.nedri-tags p {
	grid-column: span 2;
	justify-self: flex-end;
	margin-bottom: 0.5em;
}

.add-tag {
	align-self: flex-start;
	display: inline-block;
	font-size: 0.75em;
	padding: 0.25em 0.5em;
	text-align: center;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding-inline-end: 0;
	padding-inline-start: 0;
}

.tags li {
	background: #d3d3d3;
	border: 2px solid #000;
	border-radius: 7px;
	display: inline-block;
	font-size: 0.75rem;
	padding: 0.25em;
	width: fit-content;
}

.nedri-flokkur {
	display: flex;
	flex-direction: column;
	grid-column: 2;
	justify-content: flex-end;
}

.nedri-flokkur p {
	margin-bottom: 0.5em;
	text-align: end;
}

.nedri-delete {
	display: flex;
	grid-column: 2;
	justify-content: flex-end;
}

.capa-1 {
	height: 2em;
	transition: 0.075s;
	width: 2em;
}

.capa-1:hover,
.capa-1:focus-visible {
	filter: invert(1);
}

.delete:hover .capa-1,
.delete:focus-visible .capa-1 {
	filter: invert(1);
}

.category {
	padding: 0.125em;
}

.new-category {
	display: flex;
}

.side-data {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.side-data p {
	margin: 0;
}

.takkicontainer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.add-new-button {
	margin-bottom: 1em;
	padding: 1em;
}

@media screen and (max-width: 650px) {
	.efst {
		display: flex;
		flex-direction: column;
	}

	.sidebar {
		display: none;
	}

	.filter-container {
		display: none;
	}

	.container-container {
		/* display: flex; */
		width: 100%;
	}

	.container {
		width: 100%;
	}

	.card {
		width: 100%;
	}

	.title,
	.open-title {
		align-items: center;
	}

	.title {
		height: 100% !important;
	}

	main {
		display: block;
	}

	.nedri-description {
		grid-column: span 2;
	}

	.nedri-tags {
		grid-column: span 2;
	}
}

.card {
	border: 5px solid #000;
	border-radius: 10px;
	display: grid;
	gap: 1em;
	grid-template-columns: 2fr 1fr;
	margin: 0.5em auto;
	padding: 1em;

	.open-title {
		display: grid;
	}

	.title,
	.nedri-description,
	.nedri-date,
	.nedri-flokkur,
	.nedri-tags,
	.nedri-delete {
		display: none;
	}
}

.open {
	.title,
	.efst {
		display: grid;
	}

	.closed-item {
		display: none;
	}

	.nedri-description {
		display: block;
	}

	.nedri-flokkur,
	.nedri-date,
	.nedri-delete {
		display: flex;
	}

	.nedri-tags {
		display: grid;
	}
}
