body {
  font-size: 16px;
  /* background: black; */
  /* color: white; */
  font-family: monospace;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;
}

p {
  margin: 0;
}

button, .category {
  border: 2px solid black;
  border-radius: 7px;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
  background: lightgray;
  transition: 0.075s;
}

button:hover, button:focus-visible {
  color: white;
  background: rgb(82, 82, 94);
}

.takkar {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.takkar h1 {
  text-align: center;
  margin: .125em 0;
}

#holder {
  margin: 0 auto;
}

input:not(.check), input:not(.check):focus {
  width: 100%;
  border: none;
  outline: none !important;
  min-width: 0;
  font-family: monospace;
  font-weight: bold;
  /* word-wrap: break-word; */
}

.card {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  width: 700px;
  border: 5px solid white;
  margin: 1em;
  border-radius: 10px;
  padding: 1em;
}

.titill,
.tag,
.flokkur,
.Otitill {
  font-weight: bold;
}

.efst {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.efst-title {
  display: flex;
  justify-content: flex-start;
}

.efst-checks {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.titill, .Otitill {
  margin: 0;
  font-size: 1.25em;
}

.check {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  margin: 0;
  height: 2em;
  width: 2em;
  border: 2px solid black;
  /* background: blue; */
  border-radius: 7px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.done::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  transform: scale(0);
  transition: 0.1s;
  border-radius: 50px;
  box-shadow: inset 1em 1em black;
  /* background-color: red; */
  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.done:checked::before {
  transform: scale(1);
}

.important::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  transform: scale(0);
  transition: 0.1s;
  border-radius: 50px;
  box-shadow: inset 1em 1em black;
  /* background-color: red; */
  transform-origin: center;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);}

.important:checked::before {
  transform: scale(1);
}

.lysing ,.lysing:focus, .titill, .titill:focus {
  /* font-size: 0.75em; */
  width: 100%;
  border: none;
  resize: none;
  outline: none;
}

.titill {
  height: 2.3em;
}

.nedri-lysing {
  grid-row: span 5;
}

.nedri-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nedri-date p {
  margin-bottom: 0.5em;
  text-align: end;
}
.dags {
  text-align: center;
  background: lightgray;
  border: 2px solid black !important;
  width: auto !important;
  border-radius: 7px;
}

.lysing {
  height: 100%;
}

.nedri-tags {
  grid-column: 2;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 0.5em; */
  /* justify-content: flex-center; */
  align-items: center;
}

.nedri-tags p {
  grid-column: span 2;
  margin-bottom: 0.5em;
  justify-self: flex-end;
}

.addTag {
  align-self: flex-start;
  display: inline-block;
  font-size: 0.75em;
  text-align: center;
  padding: 0.25em 0.5em;
}

.tags {
	list-style: none;
	display: flex;
  padding-inline-start: 0;
  padding-inline-end: 0;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  gap: 0.25em;
}

.tags li {
  background: lightgray;
  padding: 0.25em;
  border: 2px solid black;
  border-radius: 7px;
  font-size: 0.75rem;
	display: inline-block;
  width: fit-content;
}

.tags input {
  width: 100%;
  background: lightgray;
  padding: 0;
  padding-right: 0.175em;
}

.nedri-flokkur {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.nedri-flokkur p {
  margin-bottom: 0.5em;
  text-align: end;
}

.nedri-delete {
  display: flex;
  grid-column: 2;
  justify-content: flex-end;
}

#delete:hover .Capa_1, #delete:focus-visible .Capa_1 {
  filter: invert();
}

.Capa_1 {
  width: 2em;
  height: 2em;
  transition: 0.075s;
  -moz-transition: 0.075s -moz-filter ease-in-out;
}

.Capa_1:hover, .Capa_1:focus-visible {
  filter: invert();
}

.category {
	padding: 0.125em;
}

.newCat {
  display: flex;
}



.sideData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sideData p {
  margin: 0;
}